---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
Standard:        c++20
TabWidth:        2
UseTab:          Never
ColumnLimit:     100
PointerAlignment: Left
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: false
IndentPPDirectives: BeforeHash
SortIncludes:    Never
SeparateDefinitionBlocks: Always
IndentCaseLabels: true
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterClass: false
  AfterEnum: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
...
